{% extends 'base.html.twig' %}


{% block body %}


<p>EN CONSTRUCTION !!!!!</p>

    <h1 class="megatest">Create d'un article</h1>
    <h2>Bonjour </h2>
    {% if app.user %}

    {{ form_start(formArticle) }}



    {{ form_row(formArticle.content) }}



    <button type="submit" class="btn btn-success">Ajouter l'article</button>
    {{ form_end(formArticle) }}

    {% endif %}



    {% for article in articles %}

        <div class="form-control">
           {{ article.content }}
            {{ article.createdAt | date('d/m/Y') }} et a {{ article.createdAt | date('H:i') }}
        </div>

    {% endfor %}






    <a href="/feed">Aller sur le feed</a>

{% endblock %}
