{% extends 'base.html.twig' %}

{% block title %}Hello FeedSocialNetworkController!{% endblock %}

{% block body %}

    {% for article in articles %}
    <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i ') }}</div>
        <img src="{{ article.image }}">
        <a href="{{ path('feed-show', {'id' : article.id }) }}" class="btn btn-primary">Decouvrir l'article</a>
    {% endfor %}
</div>
{% endblock %}
