{% extends 'base.html.twig' %}

{% block title %}Hello FeedSocialNetworkController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Salut {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/HETIC/Desktop/mySocialNetwork/src/Controller/FeedSocialNetworkController.php'|file_link(0) }}">src/Controller/FeedSocialNetworkController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/HETIC/Desktop/mySocialNetwork/templates/feed_social_network/index.html.twig'|file_link(0) }}">templates/feed_social_network/index.html.twig</a></code></li>
    </ul>

    {% for article in articles %}
    <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i ') }}</div>
        <img src="{{ article.image }}">
        <a href="{{ path('feed-show', {'id' : article.id }) }}" class="btn btn-primary">Decouvrir l'article</a>
    {% endfor %}
</div>
{% endblock %}
